{% set page_meta = {
	title: 'Preview recommendations',
	page_heading: 'Preview recommendations',
	id: 'preview-recommendations'
} %}
{% extends 'layouts/default.njk' %}
{% block content %}
	…
{% endblock%}