{% set page_meta = {
	title: 'Search',
	page_heading: 'Search',
	id: 'search'
} %}
{% extends 'layouts/default.njk' %}

{% block content %}
	{% include 'partials/form_search.njk' %}
	<form method="GET" action="/search">
		<input type="hidden" name="search" value="{{ search }}">
		<input type="hidden" name="offset" value="{{ offset }}">
		{% if selected.length %}
			{% for trackId in selected %}
			<input type="hidden" name="selected" value="{{ trackId }}">
			{% endfor %}
		{% endif %}
		<p>Showing results for '{{ search }}'</p>
		<ul class="list_tracks">
			{% for track in results %}
				<li>
					<dl>
						{% include 'partials/track_info.njk' %}
						<div class="track_actions">
							<dt>Actions</dt>
							<dd>
								{% if selected.length and track.id in selected %}
									Added
								{% else %}
									<button type="submit" name="add" formaction="/selected-songs" data-scheme="primary" value="{{ track.id }}">
										Add
									</button>
								{% endif %}
							</dd>
						</div>
					</dl>
				</li>
			{% endfor %}
		</ul>
		<div class="pagination">
			{% if offset > 4 %}
				<button type="submit" name="new_offset" value="{{ (offset | int) - 5 }}">Previous</button>
			{% endif %}
			<p>Showing {{ (offset | int) + 1 }} to {{ (offset | int) + 5 }}</p>
			{% if offset < 15  %}
				<button type="submit" name="new_offset" value="{{ (offset | int) + 5 }}">Next</button>
			{% endif %}
		</div>

		{% if selected.length %}
			<p>
				{{ selected.length }} item(s) selected
				<button type="submit" formaction="/selected-songs">Show my selected songs</button>
			</p>
		{% endif %}

	</form>
{% endblock %}