{% set page_meta = {
	title: 'Search',
	page_heading: 'Search',
	id: 'search'
} %}
{% extends 'layouts/default.njk' %}

{% block content %}
	{% include 'partials/form_search.njk' %}
	<form method="GET" action="/search">
		<input type="hidden" name="search" value="{{ search }}">
		{% if selected.length > 0 %}
			{% for track in selected %}
			<input type="hidden" name="selected" value="{{ track.id }}">
			{% endfor %}
			<p>
				{{ selected.length }} item(s) selected
				<button type="submit">Back to Preview</button>
			</p>
		{% endif %}
		<p>Showing results for '{{ search }}'</p>
		<ul class="list_tracks">
			{% for track in results %}
				<li>
					<dl>
						{% include 'partials/track_info.njk' %}
						<div class="track_actions">
							<dt>Actions</dt>
							<dd>
								<button type="submit" name="selected" value="{{ track.id }}">
									Add
								</button>
							</dd>
						</div>
					</dl>
				</li>
			{% endfor %}
		</ul>
		{% if offset > 4 %}
		<button type="submit" name="offset" value="{{ (offset | int) - 5 }}">Previous</button>
		{% endif %}
		<p>Showing results {{ (offset | int) + 1 }} to {{ (offset | int) + 5 }} of 20</p>
		{% if offset < 16 %}
		<button type="submit" name="offset" value="{{ (offset | int) + 5 }}">Next</button>
		{% endif %}
	</form>
{% endblock %}